.like-button {
    position: relative;
    border: 0;
    background-color: white;
    font-size: 30px;
    margin-right: 15px;
    &--menu-page {
        background-color: $light-grey;
    }
}

.heart {
    position: absolute;
    top : 35%;
    right: 50%;
    cursor: pointer;
    &--menu-page {
        top : 0%;
    }
    &--solid {
        color: transparent;
        background-image: linear-gradient(170deg, $color-secondary, $color-primary,);
        background-clip: text;
        opacity: 0;
        &:hover {
            animation: liked 0.5s both;
        }
    }
}