.course {
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 8px 10px;
    border-radius: 12px;
    box-shadow: 4px 6px 8px rgb(218, 218, 218);
    margin-bottom: 15px;
    &__text {
        &__title > h3 {
            margin: 5px 0px;
            font-weight: 500;
            font-size: 18px;
        }
        &__precision > p {
            margin: 5px 0px;
            font-weight: 400;
            font-size: 14px;
        }
    }
    &__price {
        display: flex;
        align-items: flex-end;
        margin: 0px 8px;
        & > p {
            margin: 5px 0px;
            font-weight: 500;
            font-size: 15px;
        }
    }
}