// Animation de l'icon "check" du choix d'un plat
@keyframes check-validation-course {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    50% {
        transform: rotate(360deg);
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: rotate(720deg);
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes object-visibility {
    90% {
        background: rgba(255, 255, 255, 0.9);
    }
    100% {
        visibility: hidden;
        background: rgba(255, 255, 255, 0);
    }
}

// enlever opacity et mettre bagroung rgba + vérifier backward à la place

@keyframes liked {
    0% {
        transform: scale(0);
        opacity: 0.2;
    }
    100% {
        transform: scale(1.08);
        opacity: 1;
    }
}

@keyframes approach {
    0% {
        opacity: 0;
        transform: translateY(35px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
