@media (min-width: 993px) {
    .functioning__body {
        display: flex;
        flex-direction: row;
        gap: 30px;
        &__step {
            flex-basis: 100%;
        }
    }
    .restaurants {
        &__content {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
    .card-restaurant {
        width: 49%;
    }
}