// COLOR
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$dark-grey: rgb(230, 230, 230);
$grey: #F2F2F2;

// TYPOGRAPHY :
$typo-title: "Shrikland", "serif";
$typo-text: "Roboto", "sans-serif";