.header {
    box-shadow: 0px 1px 5px rgb(167, 164, 164);
    padding: 20px 0px 10px 0px;
    z-index: 1;
    position: relative;
    &__logo {
        text-align: center;
        & img {
            width: 160px;
        }
    }
}