.menu-content {
    background-color: $light-grey;
    padding: 10px 0px;
    border-radius: 40px 40px 0px 0px;
    position: relative;
    margin-top: -50px;
    z-index: 2;
    &__head {
        display: flex;
        justify-content: space-between;
        @include section-width;
        font-family: $typo-title;
        font-size: 14px;
        margin: 20px auto 35px auto;
        & h1 {
            font-weight: 300;
            margin: 0;
        }
    }
    &__body {
        @include section-width;
    }
}